### Pacotes Necess√°rios

In [1]:
import os
from selenium import webdriver
from bs4 import BeautifulSoup
from selenium.webdriver.chrome.options import Options
import requests
import time
import datetime
import pandas as pd

In [2]:
from selenium.webdriver.support.ui import WebDriverWait 
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

#### Adicionando o path para chromedriver

In [3]:
path = os.path.abspath(os.path.join('..', 'auxiliar'))
path_data = os.path.join(path, 'chromedriver')

# Coleta: Data frame fase de grupo + mata mata: todos os anos

In [4]:
driver = webdriver.Chrome(executable_path = path_data)
dados_t = []
pais_ano = ["chinapr1991", 
         "sweden1995",
         "usa1999",
         "usa2003",
         "china2007",
         "germany2011",
         "canada2015",
         "france2019"]

COPAS = "https://www.fifa.com/en/tournaments/womens/womensworldcup/" + pais_ano[0] + "/match-center"
driver.get(COPAS)
time.sleep(10)
driver.find_element('xpath','//*[@id="onetrust-accept-btn-handler"]').click()

for cp in pais_ano:
    COPAS = "https://www.fifa.com/en/tournaments/womens/womensworldcup/" + cp + "/match-center"
    driver.get(COPAS)
    time.sleep(10)
    driver.execute_script("window.scrollTo(0,500)")
    time.sleep(5)    
    driver.find_element('xpath', '//*[@id="content"]/div/div[3]/div[1]/div/div/div[1]/div[2]/div[2]').click()

    html_source = driver.page_source
    soup = BeautifulSoup(html_source, 'lxml')

    uls = soup.find_all("ul", attrs = {"class" : "fp-match-overview_matchInfoList__N1_cd"})
    ul_count = len(uls)


    for i in range(0, ul_count):
    
        nu =  soup.find_all("ul", attrs = {"class" : "fp-match-overview_matchInfoList__N1_cd"})[i]
        timeA = soup.find_all("h4", attrs = {'class':"d-none d-md-inline col fp-match-overview_homeTeam__ceqhJ h4-article"})[i]
        timeB = soup.find_all("h4", attrs = {"class" : "d-none d-md-inline col fp-match-overview_awayTeam__Dg9AY h4-article"})[i]
        GOL = soup.find_all("div", attrs = {'class':"ff-match-results_concludedMatchResults__tZXNL ff-match-results_results__357Cf ff-mx-md-24 ff-mx-lg-32 ff-mx-8 d-flex justify-content-center align-items-center"})[i]
 

        #print (' %s\t, %s\t, %s\t, %s\t, %s\n' % (nu.text[-2:], timeA.text,GOL.text[0], GOL.text[4], timeB.text))
        fields = {}
    
        try:
            fields["year"] = cp[-4:]
            fields["match_number"] = nu.text[-2:]
            fields["team_a"] = timeA.text
            gols = GOL.text.split('-')
            fields["goals_team_a"] = gols[0].strip()
            fields["goals_team_b"] = gols[1].strip()
            fields["team_b"] = timeB.text
        except:
            pass
        else:
            dados_t.append(fields)
            
            
    driver.find_element('xpath','//*[@id="content"]/div/div[3]/div[1]/div/div/div[1]/div[2]/div[1]').click()   
    
      
    html_source = driver.page_source
    soup = BeautifulSoup(html_source, 'lxml')


    uls = soup.find_all("ul", attrs = {"class" : "fp-match-overview_matchInfoList__N1_cd"})
    ul_count = len(uls)
    

    for i in range(0,ul_count):

        nu =  soup.find_all("ul", attrs = {"class" : "fp-match-overview_matchInfoList__N1_cd"})[i]
        timeA = soup.find_all("h4", attrs = {'class':"d-none d-md-inline col fp-match-overview_homeTeam__ceqhJ h4-article"})[i]
        timeB = soup.find_all("h4", attrs = {"class" : "d-none d-md-inline col fp-match-overview_awayTeam__Dg9AY h4-article"})[i]
        GOL = soup.find_all("div", attrs = {'class':"ff-match-results_concludedMatchResults__tZXNL ff-match-results_results__357Cf ff-mx-md-24 ff-mx-lg-32 ff-mx-8 d-flex justify-content-center align-items-center"})[i]
 
 
        #print (' %s\t, %s\t, %s\t, %s\t, %s\n' % (nu.text[-2:], timeA.text,GOL.text[0], GOL.text[4], timeB.text))
        fields = {}
    
        try:
            fields["year"] = cp[-4:]
            fields["match_number"] = nu.text[-2:]
            fields["team_a"] = timeA.text
            gols = GOL.text.split('-')
            fields["goals_team_a"] = gols[0].strip()
            fields["goals_team_b"] = gols[1].strip()
            fields["team_b"] = timeB.text
        except:
            pass
        else:
            dados_t.append(fields)

<ipython-input-4-0c93d6f5c663>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path = path_data)

# Tabela 1

In [5]:
df_t = pd.DataFrame(dados_t)
df_t

     year match_number       team_a goals_team_a goals_team_b       team_b
0    1991            1     China PR            4            0       Norway
1    1991            6      Germany            4            0      Nigeria
2    1991            4       Sweden            2            3          USA
3    1991            2      Denmark            3            0  New Zealand
4    1991            3        Japan            0            1       Brazil
..    ...          ...          ...          ...          ...          ...
279  2019           48      Germany            1            2       Sweden
280  2019           49      England            1            2          USA
281  2019           50  Netherlands            1            0       Sweden
282  2019           51      England            1            2       Sweden
283  2019           52          USA            2            0  Netherlands

[284 rows x 6 columns]

In [6]:
path = os.path.abspath(os.path.join('..', 'input'))
path_df = os.path.join(path, 'ano_jogo_time_gol.csv')
if (not os.path.isdir(path)):
    os.mkdir(path)

In [7]:
df_t.to_csv(path_df, index=False)

# Tabela 2

In [8]:
dados_2 = []
pais_ano = ["chinapr1991", 
         "sweden1995",
         "usa1999",
         "usa2003",
         "china2007",
         "germany2011",
         "canada2015",
         "france2019"]


for cp in pais_ano:
    COPAS = "https://www.fifa.com/en/tournaments/womens/womensworldcup/" + cp 
    driver.get(COPAS)
        
    
    html_source = driver.page_source
    soup = BeautifulSoup(html_source, 'lxml')


    uls = soup.find_all("div", attrs = {"class" : "fp-tournament-standing_rank__Ib2IW"})
    ul_count = len(uls)
    
    for i in range(0, ul_count):
    
        posi = soup.find_all("div", attrs = {"class" : "fp-tournament-standing_rank__Ib2IW"})[i]
        time = soup.find_all("div", attrs = {"class" : "fp-tournament-standing_teamName__BvkMa"})[i]
    
        fields = {}
    
        try:
            fields["year"] = cp[-4:]
            fields["position"] = posi.text
            fields["team"] = time.text

        except:
            pass
        else:
            dados_2.append(fields)

In [9]:
df_2 = pd.DataFrame(dados_2)
df_2

    year position         team
0   1991        1          USA
1   1991        2       Norway
2   1991        3       Sweden
3   1991        4      Germany
4   1995        1       Norway
5   1995        2      Germany
6   1995        3          USA
7   1995        4     China PR
8   1999        1          USA
9   1999        2     China PR
10  1999        3       Brazil
11  1999        4       Norway
12  2003        1      Germany
13  2003        2       Sweden
14  2003        3          USA
15  2003        4       Canada
16  2007        1      Germany
17  2007        2       Brazil
18  2007        3          USA
19  2007        4       Norway
20  2011        1        Japan
21  2011        2          USA
22  2011        3       Sweden
23  2011        4       France
24  2015        1          USA
25  2015        2        Japan
26  2015        3      England
27  2015        4      Germany
28  2019        1          USA
29  2019        2  Netherlands
30  2019        3       Sweden
31  2019        4      England

In [10]:
path = os.path.abspath(os.path.join('..', 'input'))
path_df_2 = os.path.join(path, 'ano_vencedor_copa.csv')

In [11]:
df_2.to_csv(path_df_2, index=False)